{% extends '_layout.html.twig' %}

{% block pageTitle %}
    about
{% endblock %}

{% block content %}
<h1>I am the about page</h1>

<p>
    I like to eat a lot of carrots
</p>
{% endblock %}