body{
	background-image:url(brown_strands.jpg);
}


#header {
	background-color:#FF851A;
	color:#1A5F7C;
	font-family: "Courier New", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align:left;
	padding: 1px 5px 0px 148px;
	margin-top: 16px;
	margin-bottom: 20px;
	border-radius: 8px;
	}


#nav .button  {
	border: 2px groove #cccccc;
	border-radius: 20px;
	width: 80px;
	padding: 8px 20px;
	margin:28px;
	color: #1A5F7C;
	background-color:none;
	font-family: courier, "Courier New";
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	text-decoration:none;
	}
	
#nav a.button:link  {
	color: #1A5F7C;
	}
	
#nav a.button:visited {
	color:#1A5F7C;
	background-color: #cccccc;
	border: 0px groove #cccccc;
	border-radius: 8px;
	}
	
#nav a.button:hover {
	color:#1A5F7C;
	border: 3px outset #cccccc;
	background-color:#C9DBFF;
	}


#aside {
	font-family: Helvetica, Arial, sans-serif;
	line-height: 30px;
	background-color: none;
	width: 120px;
	height: 120px;
	float: left;
	padding: 20px;
	margin: 25px;
}



#section {

	width:400px;
	float: center;
	padding: 0px;
	margin: 100px 0px 150px 0px;

}

#section .buttontree  {
	padding: 20px;
	margin: 40px;
	color: #1A5F7C;
	background-color:none;
	font-family: courier, "Courier New";
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	text-decoration:none;
	}

#section a.buttontree:link  {
	color:#FF851A;
	}
	
#section a.buttontree:visited {
	color:#1A5F7C;

	}
	
#section a.buttontree:hover {
	color:#C9DBFF;
	}

}

#footer {
	background-color:#1A5F7C;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	clear: both;
	text-align: center;
	padding: 15px;
	border-radius: 8px;

}

#footer .footerbutton {
	text-decoration: none;
	color: #C9DBFF;
}



