<!doctype html>
<html lang="en">
<head>
    <title>Retr0Static | {% block pageTitle %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/head_foot.css" />
</head>
<body>

<header id="header">
    <h1>Retr0Static | {{ page_title }}</h1>
    {% if username %}
        {%     include 'partials/logout.html.twig' %}
    {% endif %}
</header>

{% block main %}
{% endblock %}

<footer>
    <div id="footer">
        <p>
            2016 &copy;	Fiona Delaney
        </p>
    </div>
</footer>
</body>
</html>
