{% extends 'admin/_adminBase.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Developers{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

    <div class="container">
        <div class="form">
            <h1>Developers</h1>

            <table>
                <tr>
                    <th> Developer </th>
                    <th> &nbsp; </th>
                    <th> <a href="/?admin/developer/create" title="New Developer" class="btn btn-new">New</a> </th>
                </tr>
                {% for item in developer_list %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td><a href="/?admin/developer/update/{{ item.id }}" title="Update" class="btn btn-update">Update</a></td>
                        <td><a href="/?admin/developer/delete/{{ item.id }}" title="Delete" class="btn btn-delete">Delete</a></td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>

{% endblock %}