{% extends 'admin/_adminBase.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Retr0static Admin{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

    <div class="container">
        <div class="admin">
            <h1>Retr0static Admin</h1>

            <h3><a href="/?admin/developer">Developers</a></h3>
            <p>Blurb about Developer section.</p>

            <h3><a href="/?admin/product">Products</a></h3>
            <p>Blurb about Product section.</p>

            <h3><a href="/?admin/order">Orders</a></h3>
            <p>Blurb about Order section.</p>

            <h3><a href="/?admin/user">Users</a></h3>
            <p>Blurb about User section.</p>

            <h3><a href="/?admin/video">Videos</a></h3>
            <p>Blurb about Video section.</p>

        </div>
    </div>

{% endblock %}