{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Welcome{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

    <div class="container">
        <div class="login">
            <h1>Account successfully created</h1>
            <p>Hello {{ firstname }},</p>
            <p>Thank you for registering with us. Your account details are as follows:</p>
            <p>Username: {{ username }}</p>
            <p>You've already been logged in, welcome to the party and have some fun!</p>
        </div>
    </div>

{% endblock %}